* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;

  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1.5rem;
  }
  a {
    text-decoration: none;
  }
  strong,
  img {
    display: block;
  }
}

html {
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-thumb {
    background-color: darkgray;
  }
  font-size: 62.5%;
}
